.slk-btn {
  padding: 8px 15px;
  border: 2px solid transparent;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }

  &.slk-btn--primary {
    color: #ffffff;
    background-color: #315676;
  }

  &.slk-btn--secondary {
    color: #ffffff;
    background-color: #6c757d;
  }

  &.slk-btn--success {
    color: #ffffff;
    background-color: #28a745;
  }

  &.slk-btn--danger {
    color: #ffffff;
    background-color: #c00000;
  }

  &.slk-btn--warning {
    color: #212529;
    background-color: #ffc107;
  }

  &.slk-btn--info {
    color: #ffffff;
    background-color: #17a2b8;
  }

  &.slk-btn--light {
    color: #555555;
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, .8);
  }

  &.slk-btn--dark {
    color: #ffffff;
    background-color: rgba(0, 0, 0, .8);
  }
}

