<div class="component">
  <div class="component-title">Form Input</div>

  <slk-input></slk-input>
  <code>
    <pre>{{ getPreCodeInput() }}</pre>
  </code>

  <label>Predefined value</label>
  <slk-input [value]="'Some text'"></slk-input>
  <code>
    <pre>{{ getPreCodeInput('Some text') }}</pre>
  </code>

  <label>Using Placeholder</label>
  <slk-input [placeholder]="'Placeholder Text'"></slk-input>
  <code>
    <pre>{{ getPreCodeInput(undefined, 'Placeholder Text') }}</pre>
  </code>

  <label>Predefined MaxLength</label>
  <slk-input [value]="'Lorem Ipsum is simply dummy text.'" [maxLength]="25"></slk-input>
  <code>
    <pre>{{ getPreCodeInput('Lorem Ipsum is simply dummy text.', undefined, 25) }}</pre>
  </code>

  <label>Required field</label>
  <slk-input [required]="true"></slk-input>
  <code>
    <pre>{{ getPreCodeInput(undefined, undefined, undefined, true) }}</pre>
  </code>
</div>


<div class="component mgn-t">
  <div class="component-title">
    Form Input - Pattern
  </div>

  <label>Required field</label>
  <slk-input [inputType]="'tel'"
             [value]="'12312312312'"
             [pattern]="'[0-9]{3}-[0-9]{4}-[0-9]{4}'"></slk-input>
  <code>
    <pre>{{ getPreCodeInputPattern('12312312312', '[0-9]{3}-[0-9]{4}-[0-9]{4}') }}</pre>
  </code>
</div>


<div class="component mgn-t">
  <div class="component-title">
    Form Input Number
  </div>

  <slk-input-number></slk-input-number>
  <code>
    <pre>{{ getPreCodeInputNumber() }}</pre>
  </code>

  <label>Required field</label>
  <slk-input-number [required]="true"></slk-input-number>
  <code>
    <pre>{{ getPreCodeInputNumber(undefined, undefined, undefined, undefined, true) }}</pre>
  </code>

  <label>MIN = 5</label>
  <slk-input-number [value]="10" [min]="5"></slk-input-number>
  <code>
    <pre>{{ getPreCodeInputNumber(10, 5) }}</pre>
  </code>

  <slk-input-number [value]="10" [max]="15"></slk-input-number>
  <code>
    <pre>{{ getPreCodeInputNumber(10, undefined, 15) }}</pre>
  </code>

  <label>MIN = 0, MAX = 55, STEP = 10</label>
  <slk-input-number [value]="3"
                    [min]="1"
                    [max]="55"
                    [step]="5"></slk-input-number>
  <code>
    <pre>{{ getPreCodeInputNumber(3, 1, 55, 5) }}</pre>
  </code>
</div>


<div class="component mgn-t">
  <div class="component-title">
    Form Input Email
  </div>

  <slk-input-email></slk-input-email>
  <code>
    <pre>{{ getPreCodeInputEmail() }}</pre>
  </code>

  <label>Predefined value</label>
  <slk-input-email [value]="'address@website.com'"></slk-input-email>
  <code>
    <pre>{{ getPreCodeInputEmail('address@website.com') }}</pre>
  </code>

  <label>Required field</label>
  <slk-input-email [required]="true"></slk-input-email>
  <code>
    <pre>{{ getPreCodeInputEmail(undefined, true) }}</pre>
  </code>
</div>


<div class="component mgn-t">
  <div class="component-title">
    Form Input - Attributes
  </div>

  <table slkTable format="striped" valign="top">
    <thead>
    <tr>
      <th slkTableCell>Selector</th>
      <th slkTableCell>Attribut Name</th>
      <th slkTableCell>Description</th>
      <th slkTableCell>Possible Values</th>
      <th slkTableCell>Default Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td slkTableCell>slk-input</td>
      <td slkTableCell [style]="{color: '#C00000'}">[inputType]</td>
      <td slkTableCell>The field input's type</td>
      <td slkTableCell>text, email, password, number, tel, date, file</td>
      <td slkTableCell>text</td>
    </tr>
    <tr>
      <td slkTableCell>slk-input</td>
      <td slkTableCell [style]="{color: '#C00000'}">[pattern]</td>
      <td slkTableCell>The pattern used to validate the input's value</td>
      <td slkTableCell></td>
      <td slkTableCell>
        <i>undefined</i>
      </td>
    </tr>
    <tr>
      <td slkTableCell>
        slk-input<br>
        slk-input-email
      </td>
      <td slkTableCell [style]="{color: '#C00000'}">[value]</td>
      <td slkTableCell>A predefined value</td>
      <td slkTableCell></td>
      <td slkTableCell>
        <i>undefined</i>
      </td>
    </tr>
    <tr>
      <td slkTableCell>slk-input-number</td>
      <td slkTableCell [style]="{color: '#C00000'}">[value]</td>
      <td slkTableCell>A predefined numeric value</td>
      <td slkTableCell></td>
      <td slkTableCell>
        <i>undefined</i>
      </td>
    </tr>
    <tr>
      <td slkTableCell>
        slk-input<br>
        slk-input-email<br>
        slk-input-number
      </td>
      <td slkTableCell [style]="{color: '#C00000'}">[placeholder]</td>
      <td slkTableCell>The text to show as placeholder</td>
      <td slkTableCell></td>
      <td slkTableCell>An empty string</td>
    </tr>
    <tr>
      <td slkTableCell>
        slk-input<br>
        slk-input-email<br>
        slk-input-number
      </td>
      <td slkTableCell [style]="{color: '#C00000'}">[required]</td>
      <td slkTableCell>Indicates if the field is mandatory.</td>
      <td slkTableCell>true, false</td>
      <td slkTableCell>false</td>
    </tr>
    <tr>
      <td slkTableCell>
        slk-input<br>
        slk-input-email
      </td>
      <td slkTableCell [style]="{color: '#C00000'}">[maxLength]</td>
      <td slkTableCell>The maximum allowed input length</td>
      <td slkTableCell></td>
      <td slkTableCell>255</td>
    </tr>
    <tr>
      <td slkTableCell>slk-input-number</td>
      <td slkTableCell [style]="{color: '#C00000'}">[min]</td>
      <td slkTableCell>The minimum allowed value</td>
      <td slkTableCell></td>
      <td slkTableCell>1.000.000.000<br>(1 billion)</td>
    </tr>
    <tr>
      <td slkTableCell>slk-input-number</td>
      <td slkTableCell [style]="{color: '#C00000'}">[max]</td>
      <td slkTableCell>The maximum allowed value</td>
      <td slkTableCell></td>
      <td slkTableCell>0</td>
    </tr>
    <tr>
      <td slkTableCell [style]="{'white-space': 'nowrap'}">slk-input-number</td>
      <td slkTableCell [style]="{color: '#C00000'}">[step]</td>
      <td slkTableCell>The allowed change step</td>
      <td slkTableCell></td>
      <td slkTableCell>1</td>
    </tr>
    </tbody>
  </table>
</div>
