<header>
  <div class="container">
    <img src="https://sleeksys.com/assets/images/logo-large.png" alt="sleeksys logo" />
    <nav>
      <a routerLink="/"
         routerLinkActive="active">Design System</a>
    </nav>
  </div>
</header>

<div id="page">
  <div class="container">
    <div class="menu">
      <nav class="template-links">
        <a routerLink="/component/button"
           routerLinkActive="active">Button</a>

        <a class="headline">forms</a>

        <a routerLink="/component/form/checkbox"
           routerLinkActive="active">Checkbox</a>

        <a routerLink="/component/form/dropdown"
           routerLinkActive="active">Dropdown</a>

        <a routerLink="/component/form/input"
           routerLinkActive="active">Input</a>

        <a routerLink="/component/form/radiobox"
           routerLinkActive="active">Radiobox</a>

        <a class="headline">other components</a>

        <a routerLink="/component/modal"
           routerLinkActive="active">Modal</a>

        <a routerLink="/component/table"
           routerLinkActive="active">Table</a>
      </nav>
    </div>

    <div class="component-overview">
      <router-outlet />
    </div>
  </div>
</div>
