<header>
  <div class="container">
    <nav>
      <a routerLink="/" routerLinkActive="active">Home</a>
    </nav>
  </div>
</header>

<div id="page">
  <div class="container">
    <nav class="template-links">
      <a routerLink="/button"
         routerLinkActive="active">Button</a>

      <a routerLink="/form/checkbox"
         routerLinkActive="active">Checkbox</a>

      <a routerLink="/form/radiobox"
         routerLinkActive="active">Radiobox</a>

      <a routerLink="/modal"
         routerLinkActive="active">Modal</a>
    </nav>
  </div>

  <div class="container">
    <router-outlet />
  </div>
</div>
