.template-links {
  width: 150px;
  border-right: 2px solid #555555;

  a {
    color: #555555;
    display: block;
    padding: 8px 15px;
    text-decoration: none;

    &:hover {
      background-color: #f8f9fa;
    }
  }
}
