.template-links {
  a {
    color: #315676;
    display: block;
    padding: 8px 15px;
    text-decoration: none;

    &:hover {
      background-color: #f8f9fa;
    }

    &.headline {
      font-size: 70%;
      font-weight: bold;
      margin: 20px 0 0;
      background-color: #f1f1f1;
      text-transform: uppercase;
    }

    &:not(.active)[aria-disabled="true"] {
      color: #999999;
      // background-color: #f9f9f9;
      // cursor: not-allowed;
    }

    &.active {
      color: #c00000;
      background-color: #f8f9fa;
    }
  }
}
