.slk-accordion {
  width: 100%;
  margin: 20px auto;
  border: 1px solid #dddddd;
  border-radius: 5px;
  overflow: hidden;

  .slk-accordion-item {
    border-bottom: 1px solid #dddddd;
  }

  .slk-accordion-header {
    padding: 15px;
    background: #f5f5f5;
    cursor: pointer;
    font-weight: bold;

    &.slk-accordion-header-disabled {
      cursor: not-allowed;
    }
  }

  .slk-accordion-content {
    padding: 15px;
    display: none;
    background: white;
  }

  .slk-accordion-item.active .slk-accordion-content {
    display: block;
  }
}
