<div class="component">
  <div class="component-title">Checkbox Classic</div>

  <slk-checkbox [switchMode]="false"
                [label]="'Checkbox'"></slk-checkbox>
  <code>
    <pre>{{ getCodeRaw(false, null, null, false) }}</pre>
  </code>
  <code>
    <pre>{{ getCodeRaw(false, null, false, false) }}</pre>
  </code>

  <slk-checkbox [switchMode]="false"
                [checked]="true"
                [label]="'Checkbox'"></slk-checkbox>
  <code>
    <pre>{{ getCodeRaw(false, null, true, false) }}</pre>
  </code>

  <slk-checkbox [switchMode]="false"
                [theme]="'danger'"
                [checked]="true"
                [label]="'Checkbox with Theme'"></slk-checkbox>
  <code>
    <pre>{{ getCodeRaw(false, 'danger', true, false) }}</pre>
  </code>
</div>

<div class="component mgn-t">
  <div class="component-title">Checkbox Switch</div>

  <slk-checkbox [label]="'Checkbox'"></slk-checkbox>
  <code>
    <pre>{{ getCodeRaw(true, null, null) }}</pre>
  </code>
  <code>
    <pre>{{ getCodeRaw(true, null, false) }}</pre>
  </code>
</div>


<div class="component mgn-t">
  <div class="component-title">Checkbox Themes</div>

  <slk-checkbox [theme]="'primary'"
                [checked]="true"
                [label]="'Primary Checkbox'"></slk-checkbox>
  <code>
    <pre>{{ getCodeRaw(true, 'primary', true) }}</pre>
  </code>

  <slk-checkbox [theme]="'secondary'"
                [checked]="true"
                [label]="'Secondary Checkbox'"></slk-checkbox>
  <code>
    <pre>{{ getCodeRaw(true, 'secondary', true) }}</pre>
  </code>

  <slk-checkbox [theme]="'success'"
                [checked]="true"
                [label]="'Success Checkbox'"></slk-checkbox>
  <code>
    <pre>{{ getCodeRaw(true, 'success', true) }}</pre>
  </code>

  <slk-checkbox [theme]="'warning'"
                [checked]="true"
                [label]="'Warning Checkbox'"></slk-checkbox>
  <code>
    <pre>{{ getCodeRaw(true, 'warning', true) }}</pre>
  </code>

  <slk-checkbox [theme]="'danger'"
                [checked]="true"
                [label]="'Danger Checkbox'"></slk-checkbox>
  <code>
    <pre>{{ getCodeRaw(true, 'danger', true) }}</pre>
  </code>

  <slk-checkbox [theme]="'info'"
                [checked]="true"
                [label]="'Info Checkbox'"></slk-checkbox>
  <code>
    <pre>{{ getCodeRaw(true, 'info', true) }}</pre>
  </code>

  <slk-checkbox [theme]="'light'"
                [checked]="true"
                [label]="'Light Checkbox'"></slk-checkbox>
  <code>
    <pre>{{ getCodeRaw(true, 'light', true) }}</pre>
  </code>

  <slk-checkbox [theme]="'dark'"
                [checked]="true"
                [label]="'Dark Checkbox'"></slk-checkbox>
  <code>
    <pre>{{ getCodeRaw(true, 'dark', true) }}</pre>
  </code>
</div>


<div class="component mgn-t">
  <div class="component-title">Checkbox Events</div>

  <slk-checkbox [label]="'Checkbox Event'"
                (onChange)="alert('Checkbox changed')"></slk-checkbox>
  <code>
    <pre>{{ getCodeRaw(true, null, null, true) }}</pre>
  </code>
</div>
