* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  min-width: 1024px;
  color: #555555;
}

header {
  color: #555555;
  background-color: #ffffff;
  border-bottom: 2px solid #f1f1f1;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  img {
    height: 50px;
  }

  nav {
    float: right;
    margin-top: 20px;

    a {
      color: #555555;
      text-decoration: none;
    }
  }
}

.pull-left {
  float: left;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
}

#page {
  margin-top: 50px;
  padding: 20px 30px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .menu {
    float: left;
    width: 20%;
    padding-top: 30px;
  }

  .component-overview {
    float: left;
    min-height: 700px;
    margin-left: 0;
    padding-top: 30px;
    padding-left: 50px;
    width: calc(80% - 50px);
    border-left: 2px solid #f1f1f1;
  }
}

.component {
  &.mgn-t {
    margin-top: 50px;
  }

  .component-title {
    color: #315676;
    font-size: 24px;
    margin-bottom: 30px;
  }

  pre {
    margin: 0;
    padding: 0;
    overflow: scroll;
    display: grid;
  }

  code {
    display: block;
    padding: 10px 20px;
    margin: 10px 0 20px;
    font-family: Consolas, Monaco, monospace;
    background-color: #dcdcdc;
  }
}

.code {
  font-family: Consolas, Monaco, monospace;
  color: #c00000;
}

#filter-window {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .7);
}

#filter-window .filter-window-content {
  width: 80%;
  max-width: 800px;
  min-width: 340px;
  margin: 10% auto 20px;
  background-color: #ffffff;
  border: 1px solid #555555;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#filter-window .filter-window-content > div {
  padding-left: 20px;
  padding-right: 30px;
}

#filter-window .filter-window-content .filtr-wd-ct-head {
  padding: 15px 20px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, .8);
}

#filter-window .filter-window-content .filtr-wd-ct-body {
  padding: 30px 20px;
}

#filter-window .filter-window-content .filtr-wd-ct-foot {
  padding: 10px 20px;
  border-top: 1px solid #cccccc;
  text-align: right;
}

#filter-window .filter-window-content .filtr-wd-ct-foot button.filtr-wd-btn-cancel {
  float: left;
}

#filter-window .filter-window-content .filtr-wd-ct-foot button.mgn-l {
  margin-left: 10px;
}


.text-small {
  font-size: 80%;
  font-weight: 500;
}

.text-muted {
  color: #999999;
}


/* Grids */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  > div {
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}


@import 'app/assets/style/table.component';
