@if (display()) {
  <div [className]="'slk-pagination slk-pagination-' + align">
    <span>
      <a [className]="!hasPrev() ? 'disabled' : ''"
         (click)="onPrevClick()">&laquo;</a>
    </span>

    @for (page of pages(); track page.trackId) {
      <span>
        <a [class.active]="page.active"
           (click)="onPageClick(page)">{{ page.value }}</a>
      </span>
    }

    <span>
      <a [className]="!hasNext() ? 'disabled' : ''"
         (click)="onNextClick()">&raquo;</a>
    </span>
  </div>
}
